no-wrap()
	text-overflow: ellipsis
	overflow: hidden
	white-space: nowrap
  
border-box()
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

flex-box()
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex

flex-1()
	-webkit-box-flex: 1
	-webkit-flex: 1
	-ms-flex: 1
	flex: 1
nowrap-hidden(n)
	display: -webkit-box
	-webkit-box-orient: vertical
	-webkit-line-clamp: n
	overflow: hidden	